<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='graphics.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <title>FreeWeather</title>
    <!-- Google Fonts for styling -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<script>
    function refreshPage() {
        location.reload();
    }

    function validateForm() {
        var locationInput = document.getElementById('location');
        var locationValue = locationInput.value;

        if (/^[A-Za-z\s]+$/.test(locationValue)) {
            locationInput.style.borderColor = '';
            locationInput.setCustomValidity('');
            return true;
        } else {
            locationInput.style.borderColor = 'red';
            locationInput.setCustomValidity('Enter only letters');
            return false;
        }
    }
</script>

<body class="body1">
    <div class="header">
        <h1>Free Weather Application</h1>
    </div>

    <div class="center-content">
        <img src="{{ url_for('static', filename='sky2.jpg') }}" class="full-width" alt="Picture of the sky">
    </div>

    <div class="container">
        <h2>Enter City:</h2>
        <form action="/" method="post" onsubmit="return validateForm();">
            <div class="form-group">
                <input type="text" id="location" name="location" placeholder="Enter location" class="input-field">
                <input type="submit" value="Submit" class="submit-btn">
            </div>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flash-messages">
            {% for category, message in messages %}
            <li class="flash-message {{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>
